
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is Index</title>
</head>
<body>
    <div>
        <h1>Hello @ViewData["Message"]</h1>
    </div>
    <div>
        @{
            for (int i = 0; i < 5; i++)
            {
                <h1>Hello @ViewData["Message"]</h1>
            }
        }

    </div>
</body>
</html>
