
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        SAP Solutions
        Learn how to manage your business resources and pursue innovation, powered by SAP solutions.

        Microsoft Solutions
        From backend administration to front-end innovation, Microsoft Solutions can transform the way you work.

        Enterprise Operational Excellence
        With ServiceOps.AI, you can enhance your IT operations with AI and analytics to manage
    </div>
</body>
</html>
