@model Assignment9MVC3.Models.Employee

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form id="login-form">
        <table>
                <tr><td>
                    UserName
                    </td>
                    <td>
                    <input type="text" id="username" name="username" placeholder="Username" required="">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password"name="password" placeholder="password" required="">

                    </td>
                </tr>
                <tr>
                    <td>
                    <input type="submit" id="login" value="Login">
                    </td>
                </tr>



        </table>
    </form>
</body>
</html>
