
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Service</title>
</head>
<body>
    <div>
        <div>
            Gov+ will focus on building NCS’ digital government portfolio, and drive collaboration efforts to strengthen NCS’ position as the leading digital catalyst for governments and smart cities across Asia Pacific. NCS will invest in building deep digital government capabilities and work even more closely with Singapore government agencies to further support their digital transformation and innovation needs.

            Telco+, is a joint initiative between Singtel and NCS to help telcos address their transformation needs to evolve into future digital telcos. The aim is to help telcos improve on operational efficiency and leverage insights-driven data to deliver enhanced customer experience. With the combined capabilities of Singtel’s 5G network and NCS’ expertise in digital and technology services, Telco+ will also develop a full stack of 5G-enabled solutions to help enterprises capitalise on the applications of 5G.
        </div>
    </div>
</body>
</html>
